// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}

.slider-title {
  color: #000000;

  @media (max-width: 1000px) {
    font-size: 2rem;  // md:text-4xl
  }
  
  @media (max-width: 650px) {
    font-size: 1.5rem;  // md:text-4xl
  }

}


